[Unit]
description=nginx container for identidock
After=docker.service
Requires=docker.service
Requires=identidock.identidock.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop proxy
ExecStartPre=-/usr/bin/docker rm proxy
ExecStartPre=/usr/bin/docker pull benjh33/identiproxy
ExecStart=/usr/bin/docker run --name proxy \
    --link identidock:identidock \
    -p 80:80 \
    -e NGINX_HOST=0.0.0.0 \
    -e NGINX_PROXY=http://identidock:9090 \
    benjh33/identiproxy

[Install]
WantedBy=multi-user.target


